<div class="row">
  <div class="small-12 columns">
    <h2 class="text-center">Teams</h2>
  </div>
</div>
<div class="row">
  <div class="small-offset-3 small-6 columns">
    <section class="teams panel callout radius">
      <h3>Team 1</h3>
        <ul>
          <li>Sean Perkins</li>
          <li>Sumeet Singh</li>
          <li>Ricky Metzger</li>
        </ul>
    </section>

    <section class="teams panel callout radius">
      <h3>Team 2</h3>
        <ul>
          <li>Candace Johnson</li>
          <li>Sawaros Thanapornsangsuth</li>
          <li>Hoai Vuong</li>
          <li>Dasheng Zhang</li>
        </ul>
    </section>

    <section class="teams panel callout radius">
      <h3>Team 3</h3>
        <ul>
          <li>Sean Perkins</li>
          <li>Sumeet Singh</li>
          <li>Ricky Metzger</li>
        </ul>
    </section>


  </div>
</div>
