<div class="scores">
  <div class="small-4 columns first">
    <section class="question text-center">
      <h3>Question</h3>
      <%= image_tag 'q1.jpg' %>
    </section>

    <h4>Scores</h4>
    <div class="row">
      <div class="small-6 columns">
        <ul>
          <li>Team 1</li>
          <li>Team 2</li>
          <li>Team 3</li>
        </ul>
      </div>

      <div class="small-6 columns text-right">
        <ul>
          <li>50</li>
          <li>49</li>
          <li>45</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="small-4 columns second">
    <h4>Correct</h4>
        <section class="teams panel callout radius">
          <h3>Team 1</h3>
            <ul>
              <li>Sean Perkins</li>
              <li>Sumeet Singh</li>
              <li>Ricky Metzger</li>
            </ul>
        </section>
        <section class="teams panel callout radius">
          <h3>Team 2</h3>
            <ul>
              <li>Sean Perkins</li>
              <li>Ricky Metzger</li>
            </ul>
        </section>
  </div>

  <div class="small-4 columns third">
    <h4>Incorrect</h4>
    <section class="teams panel callout radius">
          <h3>Team 1</h3>
            <ul>
              <li>Sean Perkins</li>
            </ul>
     </section>

      <section class="teams panel callout radius">
      <h3>Team 2</h3>
        <ul>
          <li>Sean Perkins</li>
        </ul>
     </section>

    </div>
  </div>

</div>
