<div class="row">
  <div class="small-offset-2 small-8 columns">
    <section class="ready-to-start">
      <h2 class="text-center">Students Ready To Start</h2>

      <div class="row panel radius">
        <div class="small-4 columns">
          <ul>
            <li>Sean Perkins</li>
            <li>Sumeet Singh</li>
            <li>Ricky Metzger</li>
            <li>John Doe</li>
            <li>Jane Doe</li>
          </ul>
        </div>

        <div class="small-4 columns">
          <ul>
            <li>Candace Johnson</li>
            <li>Sawaros Thanapornsangsuth</li>
            <li>Hoai Vuong</li>
            <li>Dasheng Zhang</li>
          </ul>
        </div>

        <div class="small-4 columns">
          <ul>
            <li>Sean Perkins</li>
            <li>Sumeet Singh</li>
            <li>Ricky Metzger</li>
            <li>John Doe</li>
            <li>Jane Doe</li>
          </ul>
        </div>

      </div>

      <br/>
      <br/>
      <br/>

      <div class="row">
        <div class="small-12 columns text-center">
        <%= link_to(
              "Randomize Teams",
              mock_path(step: @step + 1),
              class:"tiny radius button") %>
        </div

    </section>
  </div>
</div>
