<div class="row">
  <div class="small-12 columns text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BIO--Lam2Bk" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="small-offset-3 small-6 columns">
    <section class="things-to-consider">
      <h2 class="text-center">Things to consider</h2>

      <p>
        An has stet vulputate, putant maluisset sit eu. At iusto feugait sit, 
        sit ad, quo ad consul albucius rationibus, cum possim vidisse regione et. 
        Ne pro gloriatur deterruisset.
      </p>

      <ul>
        <li>An has stet vulputate.</li>
        <li>putant maluisset sit eu. At iusto feugait sit.</li>
        <li>Ne pro gloriatur deterruisset.</li>
      </ul>
    </section>
  </div>
</div>
