<div class="scores">
  <div class="small-4 columns first">
    <h4>Scores</h4>
    <div class="row">
      <div class="small-6 columns">
        <ul>
          <li>Team 1</li>
          <li>Team 2</li>
          <li>Team 3</li>
        </ul>
      </div>

      <div class="small-6 columns text-right">
        <ul>
          <li>50</li>
          <li>49</li>
          <li>45</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="small-4 columns second">
    <h4>Scored < 80% </h4>
    <div class="row">
      <div class="small-6 columns">
        <ul>
          <li>Sean Perkins</li>
          <li>John Doe</li>
          <li>Jane Doe</li>
        </ul>
      </div>

      <div class="small-6 columns text-right">
        <ul>
          <li>10</li>
          <li>29</li>
          <li>35</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="small-4 columns third">
    <h4>Scored > 80%</h4>
    <div class="row">
      <div class="small-6 columns">
        <ul>
          <li>Brad Pitt</li>
          <li>James Brown</li>
          <li>John Hamm</li>
        </ul>
      </div>

      <div class="small-6 columns text-right">
        <ul>
          <li>81</li>
          <li>82</li>
          <li>100</li>
        </ul>
      </div>

    </div>
  </div>

</div>
